body{

    background: #ECEEF2;
}

form{

display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 28px;

}

h1{
    padding-bottom: 30px;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.central-container{
    background: White;
    border-radius: 20px;
    position: relative;
    width: 617px;
    left: 50%;
    top: 20%;
    height: 763px;
    transform: translate(-50%, 20%);
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items:start;

}

.name{
    width: 515px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    
    
}

.password{
    width: 330px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    

}

.img{
    padding: 0;
    margin: 0 auto;
}



.email{
    width: 330px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
}

.phone{
    width: 162px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px
}

.birthday{ 
    box-sizing: border-box;
    width: 162px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
}

.last-line-container{
    padding: 130px 0px 12px ;
    gap: 6px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    
}

.register{
    margin-left: 15em;
    background: #0DBDBD;
    border-radius: 10px;
    width: 81px;
    height: 45px;
    color: #FFFFFF;
    border-color:#0DBDBD;
}

.checkbox-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
}

.check{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
        
}

label{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #767676;   
} 

input{
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px; 
    color: #767676;
}

span{
    display: flex;
    justify-content: flex-start;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FF4B4B;
    position: relative;
   
    
}

.formdiv{
    visibility: hidden;
    display: none;
}