body{

    background: #ECEEF2;
}

form{

display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 28px;
}

h1{
    padding: 40px;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.central-container{
    background: White;
    border-radius: 20px;
    position: absolute;
    width: 617px;
    left: 50%;
    top: 50%;
    height: 763px;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items:start;

}

.name{
    width: 515px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    
    
}

.password{
    width: 330px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    

}

.img{
    padding: 0;
    margin: 0 auto;
}



.email{
    width: 330px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
}

.phone{
    width: 162px;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px
}

.birthday{ 
    box-sizing: border-box;
    width: 162px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
}

.register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;

    position: absolute;
    width: 81px;
    height: 40px;
    left: 370px;
    background: #0DBDBD;
    border-radius: 10px;
}

.checkbox-text{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
color: #111111;
}

.check{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
        
}

label{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #767676;   
} 

input{
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px; 
    color: #767676;
}
